# A pattern that starts with an exclamation mark (!) negates (re-include) any
# file that is ignored by the previous pattern. The exception to this rule is
# to re-include a file if its parent directory is excluded.

*



!/**/
!/c/
!/c++/
!/ds/
!/projects/
!/quizzes/
!/system_programming/


!.myFunc
!*.c
!*.cpp
!*.h
!*.hpp
!.gitignore
!Makefile
!makefile
!.make
!v_1.txt
!v_2.txt
