#A pattern that starts with an exclamation mark (!) negates (re-include) any
# file that is ignored by the previous pattern. The exception to this rule is
# to re-include a file if its parent directory is excluded.

*
*/

!c/
!ds/
!projects/
!quizzes/
!system_programming/

!.myFunc
!*.c
!*.md
!*.h
!.gitignore


